.todo-container {
    max-width: 25rem;
    width: 100%;
}

form {
    width: 100%;

    .todo-input {

        padding: .5rem;
        border-radius: 5px;
        border: none;
        outline: 1px solid rgb(131, 131, 131);
        width: 100%;
    }

    .btn-todo {
        background: #171717;
        color: white;

        &:hover {
            background: #333333;
            color: white;
        }
    }

    margin-bottom: 1rem;
}

.completed {
    border-left: 8px solid green;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        width: 100%;
        padding: 1rem;
        border: 1px solid #e4fcfc;
        background: #f8fdfd;
        border-radius: .5rem;
        transition: all 300ms;
        cursor: pointer;

        h6 {
            margin: 0;
        }

        input[type="checkbox"] {
            accent-color: green;
        }

        .btn-delete {
            font-weight: bold;
            color: rgb(121, 0, 0);
        }

        &:hover {
            background: #c2e7e7;
        }
    }


}